# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
pyarrow
fastparquet
tqdm
beautifulsoup4
lxml
sentence-transformers
sentencepiece
protobuf
tld
numba==0.53

# backwards compatibility
pathlib2

git+https://github.com/huggingface/datasets.git
fastparquet
boto3
transformers>=4.6.0,<5.0.0
tokenizers>=0.10.3
tqdm
torchvision
numpy
scikit-learn
scipy
nltk
spellchecker
spacy==3.2.0
huggingface-hub
pytorch-lightning==1.1.2
torch==1.10.0
ipdb
hydra-core
clearml
jsonlines
nltk
rouge_score